parameters:
    level: max
    paths:
        - src/
    ignoreErrors:
        -
            message: '#Cannot call method .* on mixed#'
            path: src/DependencyInjection/Configuration.php
        -
            message: '#Call to an undefined method.*::booleanNode\(\)#'
            path: src/DependencyInjection/Configuration.php
        -
            message: '#Cannot cast mixed to int#'
            path: src/DependencyInjection/DIBridgeExtension.php
        -
            message: '#Parameter \#1 \$diBuilder#'
            path: src/DependencyInjection/DIBridgeExtension.php
