parameters:
    level: max
    paths:
        - src/
    ignoreErrors:
        -
            message: '#Cannot cast mixed to int#'
            path: src/DependencyInjection/DIBridgeExtension.php
        -
            message: '#Parameter \#1 \$diBuilder#'
            path: src/DependencyInjection/DIBridgeExtension.php
